flow.json
[
    {
        "id": "4d83ee90e8919264",
        "type": "tab",
        "label": "Smart Buoy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3a5c57ce4f5645f",
        "type": "mqtt in",
        "z": "4d83ee90e8919264",
        "name": "",
        "topic": "smart_buoy_1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8f44652d0aa5091f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "f9ffd25f45c749e3",
                "6aabbe090fef1bbc"
            ]
        ]
    },
    {
        "id": "f9ffd25f45c749e3",
        "type": "json",
        "z": "4d83ee90e8919264",
        "name": "To JS Obj",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "8527a99e14da1dde",
                "10f553378dc81a8c"
            ]
        ]
    },
    {
        "id": "8527a99e14da1dde",
        "type": "function",
        "z": "4d83ee90e8919264",
        "name": "Take last values",
        "func": "// The message contains more than one sensor read.\n// We want one only, the last one\n\nvar payload = msg.payload;\nvar lastLocation = null;\nvar lastAcceleration = null;\n\n// Finding the last\npayload.payload.forEach(item => {\n    if (item.name === 'location') {\n        lastLocation = item;\n    } else if (item.name === 'totalacceleration') {\n        lastAcceleration = item;\n    }\n});\n\nvar output = {\n    latitude: lastLocation ? lastLocation.values.latitude : null,\n    longitude: lastLocation ? lastLocation.values.longitude : null,\n    xAcceleration: lastAcceleration ? lastAcceleration.values.x : null,\n    yAcceleration: lastAcceleration ? lastAcceleration.values.y : null,\n    zAcceleration: lastAcceleration ? lastAcceleration.values.z : null\n};\n\nmsg.payload = output;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 100,
        "wires": [
            [
                "2cc58461424c8a7f",
                "c52a612fd9bd7fe8",
                "debug3",
                "debug4",
                "debug5",
                "2ac89f34b625b991"
            ]
        ]
    },
    {
        "id": "debug3",
        "type": "debug",
        "z": "4d83ee90e8919264",
        "name": "X Acceleration",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.xAcceleration",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "debug4",
        "type": "debug",
        "z": "4d83ee90e8919264",
        "name": "Y Acceleration",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.yAcceleration",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 340,
        "wires": []
    },
    {
        "id": "debug5",
        "type": "debug",
        "z": "4d83ee90e8919264",
        "name": "Z Acceleration",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.zAcceleration",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 380,
        "wires": []
    },
    {
        "id": "e6f9460dc4610277",
        "type": "function",
        "z": "4d83ee90e8919264",
        "name": "Weather API URL",
        "func": "const lat = msg.payload.latitude;\nconst lon = msg.payload.longitude;\n// My personal (Del Bianco) API key for OpenWeatherMap:\nconst apiKey = '26a35a3356a8ad37a1fae6412b3bdea6';\n// Setting the message URL to interrogate \nmsg.url = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${apiKey}`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 100,
        "wires": [
            [
                "f07a49c175f0fe98"
            ]
        ]
    },
    {
        "id": "f07a49c175f0fe98",
        "type": "http request",
        "z": "4d83ee90e8919264",
        "name": "Calling URL",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1570,
        "y": 100,
        "wires": [
            [
                "afbf243fd2eb56a8",
                "f4e9519a1b59e561",
                "d3e45e9883e3e150",
                "14a693c51b324a9f",
                "b8f2e932851015ec"
            ]
        ]
    },
    {
        "id": "afbf243fd2eb56a8",
        "type": "debug",
        "z": "4d83ee90e8919264",
        "name": "Wind speed at given position",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.wind.speed",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2080,
        "y": 40,
        "wires": []
    },
    {
        "id": "2cc58461424c8a7f",
        "type": "switch",
        "z": "4d83ee90e8919264",
        "name": "Stop if no GPS (signal every few min)",
        "property": "payload.latitude",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "null",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 100,
        "wires": [
            [
                "e6f9460dc4610277",
                "da6d5a845672a2ee",
                "78b115655e6c205e",
                "7fd8d0fabd3caa44"
            ]
        ]
    },
    {
        "id": "f4e9519a1b59e561",
        "type": "debug",
        "z": "4d83ee90e8919264",
        "name": "Weather message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 40,
        "wires": []
    },
    {
        "id": "c52a612fd9bd7fe8",
        "type": "debug",
        "z": "4d83ee90e8919264",
        "name": "Last values message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 40,
        "wires": []
    },
    {
        "id": "6aabbe090fef1bbc",
        "type": "debug",
        "z": "4d83ee90e8919264",
        "name": "Raw message ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 40,
        "wires": []
    },
    {
        "id": "10f553378dc81a8c",
        "type": "debug",
        "z": "4d83ee90e8919264",
        "name": "JS message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "58b032810e781d6c",
        "type": "ui_chart",
        "z": "4d83ee90e8919264",
        "name": "",
        "group": "efc20e0b59992f08",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Wave history",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2ac89f34b625b991",
        "type": "function",
        "z": "4d83ee90e8919264",
        "name": "Calc magnitude",
        "func": "// Take the acceleration components and calculate the\n// magnitude of the acceleration vector\n\nlet xAcceleration = msg.payload.xAcceleration;\nlet yAcceleration = msg.payload.yAcceleration;\nlet zAcceleration = msg.payload.zAcceleration;\n\nlet acceleration = Math.sqrt(Math.pow(xAcceleration, 2) + Math.pow(yAcceleration, 2) + Math.pow(zAcceleration, 2));\n\n// Put acceleration in the message\nmsg.payload.acceleration = acceleration;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 220,
        "wires": [
            [
                "5428d2c060c717eb",
                "20a3dea4de6a4905"
            ]
        ]
    },
    {
        "id": "5428d2c060c717eb",
        "type": "debug",
        "z": "4d83ee90e8919264",
        "name": "Acceleration",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.acceleration",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 180,
        "wires": []
    },
    {
        "id": "b8f2e932851015ec",
        "type": "ui_text",
        "z": "4d83ee90e8919264",
        "group": "c327a0514a279271",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Nearest city",
        "format": "{{msg.payload.name}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2030,
        "y": 140,
        "wires": []
    },
    {
        "id": "d3e45e9883e3e150",
        "type": "debug",
        "z": "4d83ee90e8919264",
        "name": "Buoy location",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.name",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2040,
        "y": 100,
        "wires": []
    },
    {
        "id": "20a3dea4de6a4905",
        "type": "change",
        "z": "4d83ee90e8919264",
        "name": "For wave chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.acceleration",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 460,
        "wires": [
            [
                "68a0ef0be4492acd",
                "58b032810e781d6c",
                "10080631c98c0cec"
            ]
        ]
    },
    {
        "id": "68a0ef0be4492acd",
        "type": "debug",
        "z": "4d83ee90e8919264",
        "name": "Message for chart",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 380,
        "wires": []
    },
    {
        "id": "a826de793ec03e82",
        "type": "ui_gauge",
        "z": "4d83ee90e8919264",
        "name": "",
        "group": "efc20e0b59992f08",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Wave effect (average)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1660,
        "y": 420,
        "wires": []
    },
    {
        "id": "da6d5a845672a2ee",
        "type": "function",
        "z": "4d83ee90e8919264",
        "name": "Message for map",
        "func": "msg.payload = {\n    name: \"Location\",\n    lat: msg.payload.latitude,\n    lon: msg.payload.longitude  \n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 160,
        "wires": [
            [
                "e5be8be59cb8cbad",
                "fa03ef12aad6578d"
            ]
        ]
    },
    {
        "id": "e5be8be59cb8cbad",
        "type": "debug",
        "z": "4d83ee90e8919264",
        "name": "Map message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 160,
        "wires": []
    },
    {
        "id": "48bbc163c008fad2",
        "type": "ui_gauge",
        "z": "4d83ee90e8919264",
        "name": "",
        "group": "24622a434a8e4e4e",
        "order": 3,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Wind effect (average)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2440,
        "y": 420,
        "wires": []
    },
    {
        "id": "14a693c51b324a9f",
        "type": "change",
        "z": "4d83ee90e8919264",
        "name": "For wind chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 460,
        "wires": [
            [
                "650d758d5c88e0b9",
                "3de0690a4e9cd765",
                "3b8b575ffac92f89"
            ]
        ]
    },
    {
        "id": "650d758d5c88e0b9",
        "type": "ui_chart",
        "z": "4d83ee90e8919264",
        "name": "",
        "group": "24622a434a8e4e4e",
        "order": 4,
        "width": "0",
        "height": "0",
        "label": "Wind history",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2230,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3de0690a4e9cd765",
        "type": "debug",
        "z": "4d83ee90e8919264",
        "name": "Message for chart",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2250,
        "y": 380,
        "wires": []
    },
    {
        "id": "78b115655e6c205e",
        "type": "ui_text",
        "z": "4d83ee90e8919264",
        "group": "c327a0514a279271",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Buoy Latitude",
        "format": "{{msg.payload.latitude}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1360,
        "y": 240,
        "wires": []
    },
    {
        "id": "7fd8d0fabd3caa44",
        "type": "ui_text",
        "z": "4d83ee90e8919264",
        "group": "c327a0514a279271",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Buoy Longitude",
        "format": "{{msg.payload.longitude}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1360,
        "y": 280,
        "wires": []
    },
    {
        "id": "fa03ef12aad6578d",
        "type": "ui_worldmap",
        "z": "4d83ee90e8919264",
        "group": "c327a0514a279271",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Smart Buoy 1",
        "lat": "44",
        "lon": "9",
        "zoom": "5",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1600,
        "y": 320,
        "wires": []
    },
    {
        "id": "10080631c98c0cec",
        "type": "moving-average",
        "z": "4d83ee90e8919264",
        "name": "Average",
        "amount": "10000",
        "weight": "cumulative",
        "x": 1400,
        "y": 420,
        "wires": [
            [
                "a826de793ec03e82"
            ]
        ]
    },
    {
        "id": "3b8b575ffac92f89",
        "type": "moving-average",
        "z": "4d83ee90e8919264",
        "name": "Average",
        "amount": "10000",
        "weight": "cumulative",
        "x": 2220,
        "y": 420,
        "wires": [
            [
                "48bbc163c008fad2"
            ]
        ]
    },
    {
        "id": "8f44652d0aa5091f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "94374bc583a14979af19b134b3ecf649.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "6ca4a549daa18841",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "efc20e0b59992f08",
        "type": "ui_group",
        "name": "Smart Buoy 1 Wave",
        "tab": "1b174e23a4a095e8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c327a0514a279271",
        "type": "ui_group",
        "name": "Smart Buoy 1 Location",
        "tab": "1b174e23a4a095e8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "24622a434a8e4e4e",
        "type": "ui_group",
        "name": "Smart Buoy 1 Wind",
        "tab": "1b174e23a4a095e8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6ca4a549daa18841",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "isrgrootx1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "1b174e23a4a095e8",
        "type": "ui_tab",
        "name": "Smart Buoy Field",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]